# Created by .ignore support plugin (hsz.mobi)
.idea/libraries/android_android_25.xml
build/android-profile/profile-2017-10-28-22-03-35-878.rawproto
build/android-profile/profile-2017-10-28-22-03-41-452.rawproto
build/android-profile/profile-2017-10-28-22-06-55-502.rawproto
build/android-profile/profile-2017-10-28-22-06-59-915.rawproto
.gradle/3.3
.idea/workspace.xml
